In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('product_reviews_for_test.csv', index_col='review_id')

In [4]:
df = df[df.rating >= 3]

In [5]:
df["num_of_words"] = df['review_text'].apply(lambda x: len(str(x).split()) if pd.notnull(x) else 0)

In [6]:
df.sort_values(by=['num_of_words'], ascending=False, inplace=True)

In [7]:
df

,product_name,review_text,rating,num_of_words
review_id,,,,
1,Widget A,"Great product, really useful and high quality!",5,7
5,Widget B,"Quite satisfactory, though there are minor flaws.",3,7
4,Widget C,Amazing features and easy to use!,5,6
3,Widget A,NaN,4,0